<div style="display:block;background-color:#d2d2d2;margin-left: 30%;width: 40%;height:30%;text-align: center;border-radius:10px;">
    
    <div style="background-color: #393D49;display: block;padding:0.1em 0px;color: white"><h3><b>打卡提醒</b></h3></div>
    <div style="padding:0px 20px;text-align:left">
        <p>打卡提醒系统提示您：</p>
        <p style="text-indent:2em;">检测到您还未进行{today}的{tip}，请您立即使用微信考勤系统打卡，以免影响您的考勤。</p>
        
    </div>
    <div style="margin-top: 30px;">
        <a style="color: #01AAED" href="http://xt.mediway.com.cn/ylxt/">医疗协同</a>  |  <a style="color: #01AAED" href="http://127.0.0.1:8000/xtcheat/login/">打卡提醒</a>
    </div>
</div>